<div class="listPolls">
    <div class="listPolls__list" *ngFor="let data of listPolls; let i = index">
        <div class="listPolls__list__divHead">
            <div>
                <i *ngIf="data[2].display" class="fa fa-arrow-right" (click)="hideData(i)"></i>
                <i *ngIf="!data[2].display" class="fa fa-arrow-down" (click)="displayData(i)"></i>
            </div>
            <div *ngFor="let email of data[0] | keyvalue">
                <b>{{ email.value }}</b>
            </div>
        </div>
        <div class="listPolls__list__divContainer" *ngIf="data[2].display">
            <div class="listPolls__list__divContainer__divQuestion">
                <div 
                class="listPolls__list__divContainer__divQuestion__question"
                *ngFor="let question of dataQuestion | keyvalue">
                    {{ question.value }}:
                </div>
             </div>
            <div class="listPolls__list__divContainer__divValue">
                <div 
                class="listPolls__list__divContainer__divValue__value"
                *ngFor="let poll of data[1] | keyvalue">
                    {{ poll.value }}
                </div>
            </div>
        </div>
    </div>
</div>