<div class="listPolls">
    <div class="listPolls__list" *ngFor="let data of listPolls">
        <div *ngFor="let email of data[0] | keyvalue">
            <b>{{ email.value }}</b>
        </div>
        <div class="listPolls__list__divContainer">
            <div >
                <div *ngFor="let question of dataQuestion | keyvalue">
                    {{ question.value }}:
                </div>
             </div>
            <div>
                <div *ngFor="let poll of data[1] | keyvalue">
                    {{ poll.value }}
                </div>
            </div>
        </div>
    </div>
</div>