@import "../../../../styles/utils";
@import "../../../../styles/settings.variables";

:host { width: 100%; height: 100%; position: absolute;}

.poll {
    width: 100%;
    height: 100%;
    @include flex-col-cen;
    &__img {
        width: 100%;
    }
    &__container {
        width: 100%;
        height: 100%;   
        @include flex-col-cen-cen;
        &__form {
            width: 86%;
            position: relative;
            @include flex-direction(column);
            align-items: center;
            margin-bottom: 30px;
            @media (min-width: $breakpoint-tablet) {
                width: 100%;
            }
            &__containerDiv {
                margin-top: 20px;
                margin-bottom: 0;
                color: #000;
                font-size: 18px;
                @include flex-direction(column);
                align-items: center;
                @media (min-width: $breakpoint-tablet) {
                    margin-bottom: 40px;
                    font-size: 21px;
                }
                &__radio input {
                    margin: 0 10px;
                }
            }
        }
        
    }
}
