<div class="divValues">
    <h4>Elija una de estas opciones</h4>
    <div class="divValues__radios">
        <div class="divValues__radios__divLabel">
            <div><input type="radio">1</div>
            <label>En <br>desacuerdo</label>
        </div> 
        <div class="divValues__radios__divNotLabel">
            <input type="radio">2
        </div> 
        <div class="divValues__radios__divLabel">
            <div><input type="radio">3</div>
            <label>De <br>acuerdo</label>    
        </div>
        <div class="divValues__radios__divNotLabel">
            <input type="radio">4
        </div>
        <div class="divValues__radios__divLabel">
            <div><input type="radio">5</div>
            <label>Totalmente<br> de acuerdo</label>
        </div>
    </div>
</div>