@import "../../../../styles/utils";
@import "../../../../styles/settings.variables";

.poll {
    width: 100%;
    @include flex-direction(column);
    align-items: center;
    margin-bottom: 40px;
    @media(min-width: $breakpoint-tablet) {
        align-items: center;
        justify-content: center;
    }
    &__container {
        width: 95%;
        @include flex-direction(column);
        align-self: center;
        margin-bottom: 10px;
        @media(min-width: $breakpoint-tablet) {
            @include flex-direction(row);
        }
        &__column1 {
            width: 100%;
            min-height: 282px;
            margin: 0px 0px 10px 0px;
            @media(min-width: $breakpoint-tablet) {
                margin: 0 10px 0 0;
            }
            &__divForm {
                &__form {
                    &__columnDiv {
                        &__radio {
                            &__divButtons {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                            }
                        }
                        &__divBtnRemove {
                            display: flex;
                        }
                
                    }
                    &__divButton {
                        margin-top: 55px;
                        .fa-plus {
                            font-size: 25px;
                            margin-right: 10px;
                        }
                        button {
                            font-size: 25px;
                            padding: 0;
                            border: none;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
        &__statistics {
            width: 100%;
            min-height: 282px;
        }
    }
    &__listPoll {
        width: 95.6%;
    }
}

.fa-trash {
    font-size: 25px;
    margin-left: 10px;
}

input {
    width: 100%;
    text-overflow: ellipsis;
}

// poll__container__column1__divForm__form__columnDiv