@import "../../../../styles/utils";
@import "../../../../styles/settings.variables";

.poll {
    width: 100%;
    @include flex-direction(column);
    align-items: center;
    margin-bottom: 40px;
    @media(min-width: $breakpoint-tablet) {
        align-items: center;
        justify-content: center;
    }
    &__container {
        width: 95%;
        @include flex-direction(column);
        align-self: center;
        margin-bottom: 10px;
        @media(min-width: $breakpoint-tablet) {
            @include flex-direction(row);
        }
        &__column1 {
            width: 100%;
            min-height: 282px;
            margin: 0px 0px 10px 0px;
            @media(min-width: $breakpoint-tablet) {
                width: 490px;
                margin: 0 10px 10px 0;
            }
            &__divForm {
                &__form {
                    &__divButton {
                        .fa-plus {
                            font-size: 25px;
                            margin-right: 10px;
                        }
                        button {
                            font-size: 25px;
                            padding: 0;
                            border: none;
                            background-color: #fff;
                        }
                    }
                    &__divButton {
                        margin-top: 55px;
                    }
                }
            }
        }
        &__statistics {
            width: 100%;
            min-height: 282px;
            @media(min-width: $breakpoint-tablet) {
                width: 400px;
            }
        }
    }
    &__listPoll {
        width: 95.6%;
    }
}

input {
    width: 100%;
}
