<app-header [flag]="flag"></app-header>
<div class="poll">
    <div class="poll__container">
        <div class="poll__container__column1 card">
            <div class="poll__container__column1__divForm card-body">
                <form #fPoll="ngForm" class="poll__container__column1__divForm__form" (ngSubmit)="save(fPoll.value, typePoll)">
                    <div class="form-group poll__container__column1__divForm__form__container__column1Div">
                        <div>
                            <label for="titlePoll"><b>Titulo:</b></label><br>
                            <input type="text" ngModel name="title" [(ngModel)]="titlePoll">
                        </div>
                        <hr>
                        <div class="form-group poll__container__column1__divForm__form__container__column1Div__radio" *ngFor="let poll of questionPoll | keyvalue; let i = index;">
                            <div class="form-group">
                                <label for="poll.key">Pregunta {{ i + 1 }}:</label><br>
                                <input type="text" ngModel name="poll{{ i + 1 }}" [(ngModel)]="poll.value">
                            </div>
                        </div>
                        <div *ngIf="arrNewQuestion.length > 0">
                            <div *ngFor="let q of arrNewQuestion| keyvalue">
                                <label for="">Pregunta {{ q.value }}: </label><br>
                                <input type="text" ngModel name="poll{{ q.value }}">
                            </div>
                        </div>
                    </div>
                    <div class="poll__container__column1__divForm__form__divButton">
                        <i class="fa fa-plus" (click)="moreQuestion()"></i>
                        <button class="fa fa-save"></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="poll__container__statistics card">
            <div class="card-body">
                <h4>Estadisticas</h4>
    
            </div>
        </div>
    </div>
    <div class="poll__listPoll card">
        <div class="card-body">
            <h4>Lista de Encuestas</h4>
            <list-polls 
            [position]="position"
            [uidModify]="uidModify"
            ></list-polls>
        </div>
    </div>
</div>