@import '~@angular/material/theming';

.experience-modal {
    mat-dialog-container {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
      
    .md-overlay-container, .md-global-overlay-wrapper {
        pointer-events: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    
    .md-global-overlay-wrapper {
        display: flex;
        position: absolute;
        z-index: 1000;
    }
}