// Viewport breakpoints
$breakpoint-mobile: 320px;
$breakpoint-mobile-wide: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tabletx1: 959px;
$breakpoint-desktop: 960px;
$breakpoint-desktop-xl: 1200px;
$breakpoint-desktop-x2: 1320px;
$breakpoint-desktop-x3: 1420px;
