@import "../../../../styles/utils";
@import "../../../../styles/settings.variables";

.view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &__cardPoll {
        width: 100%;
        margin: 0px 10px 15px 10px;
        @media (min-width: $breakpoint-tablet) {
            width: 280px;
        }
        &__divResponses {
            text-align: center;
            &__response {
                position: absolute;
                margin-left: 263px;
                margin-top: -9px;
                width: 31px;
                height: 31px;
                @include flex-col-cen-cen;
            }
        }
        &__contentData {
            min-height: 194px;
            &__navData {
                div:not(#button){
                    margin-bottom: 10px;
                }
            }
        }
        &__contentButton {
            @include flex-direction(row);
            justify-content: space-around;
            padding: 0px 0px 20px 20px;
            .fa {
                font-size: 20px;
            }
            &__divButton1 {
                cursor: pointer;
            }
            &__divButton2 {
                cursor: pointer;
                i {
                    display: flex;
                }
            }
            &__divButton3 {
                cursor: pointer;
                margin-left: 10px;
                span {
                    font-size: 10px;
                }
            }
        }
    }
}

// view__cardPoll__contentData__navData