<div class="view card-body" *ngIf="typePoll$ | async as poll">
    <div class="view__cardPoll card" *ngFor="let data of poll">
        <div class="view__cardPoll__contentData card-body">
            <nav class="view__cardPoll__contentData__navData" *ngFor="let title of data[0] | keyvalue">
                <div>
                    <b>{{ title.value }}</b>
                </div>
                <ul >
                    <li *ngFor="let polls of data[1] | keyvalue">
                        {{ polls.value }}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>