@import "../../../../styles/utils";
@import "../../../../styles/settings.variables";

.createPoll {
    width: 100%;
    @include flex-direction(column);
    align-items: center;
    &__cardPoll {
        width: 95%;
        margin-bottom: 40px;   
        @media(min-width: $breakpoint-tablet) {
            width: 500px;
            height: auto;
        }
    }
}

.fa {
    font-size: 28px;
    margin-right: 10px;
}